# Requirements for WingX Food Delivery App (MERN stack)
# Backend
express
dotenv
mongoose
jsonwebtoken
bcryptjs
cors
body-parser
nodemon

# Frontend
react
react-dom
react-router-dom
axios

# Additional
concurrently
